
   <html>

    <header>
      <h1>Registration</h1>
    </header>
    <body>
    <form action="reg_numbers" method="post">
        <div class="row">
      <div class="twelve columns">
        <input class="four columns InputReg" type="text" name ="regText" placeholder="Enter reg number...." maxlength="9"> <br>
      </div>
      <br>
      <br>
    </div>
    <div class="twelve columns">
      <button class="button-primary Addbtn" type="submit" name="button">Add</button>
     
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="two columns">
        <input type="radio" name="TownType" class="Type_of_Town" value="CK">
        <span>Malmesbury</span>
      </div>
      <div class="two columns">
        <input type="radio" name="TownType" class="Type_of_Town" value="CY">
        <span>Bellville</span>
      </div>
      <div class="two columns">
        <input type="radio" name="TownType" class="Type_of_Town" value="CA">
        <span>CapeTown</span>
      </div>
      <div class="two columns">
        <input type="radio" name="TownType" class="Type_of_Town" value="CAW">
        <span>George</span>
      </div>
      <div class="two columns">
        <input type="radio" name="TownType" class="Type_of_Town" value="All">
        <span>All</span>
      </div>
      <br>
      <br>
      <br>
       </form>

    <form action="filter" method="post">
      <div class="row">
        <div class=" twelve columns ">
         
          <button class="button-primary showbtn" type="submit" name="button">show</button> </form>
        </div>
        <br>
        <br>
        <br>
      </div>
       
       <div class="row">
      <div class="twelve columns">
        {{#if messages.info}}
         <b> <div class="entry">
          <p> {{messages.info}}</p></b>
        </div>
           {{/if}}
        </div>
      <div class="row">
       
        <ul class="twelve columns RegNameDisplay">{{display}}</ul>
     
  </div>
    {{#each my_regs}}
              <ul class="twelve columns RegNameDisplay"><a href="/filter"{ {registrations}}>{{registrations}}</a></div></ul>
    
      {{/each}}
        <form action="reset" method="post">

         <button class="button-primary resetbtn" type="submit" name="button">clear</button></form>
        
</body>

</html>
